body {
  background-color: aqua;
}

header{
 text-align: center;
}

#filteredWords{
  word-wrap: break-word;
}

#grey{
  background-color: gray;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}