body {
  font-family: Helvetica, Arial, sans-serif;
}

h4 {
  padding: 0px;
  margin: 0px;
}

header {
  text-align: center;
}

label {
  width: 75px;
  display: inline-block;
}

.inputBox {
  margin: 2px;
}

.element {
  padding: 10px;
  margin: auto;
  width: fit-content;
}

#filteredWords {
  word-wrap: break-word;
}

#grey {
  background-color: #787C7E;
}

#green {
  background-color: #6AAA64;
}

#yellow {
  background-color: #C9B458;
}